@font-face {
	font-family: "Computer Modern Serif";
	src: url("../fonts/cmu_serif.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: "Computer Modern Serif", monospace;
	width: 100vw;
	height: 100vh;
}

#home-page {
	width: inherit;
	height: inherit;
	background-image: url("https://images.unsplash.com/photo-1504643292995-3a60b7d1cf2b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
	background-size: cover;
	background-position: center;
}

#heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5vh;
	background-color: black;
}

#logo {
	width: inherit;
	height: inherit;
	padding: 0.8vh 0 0.8vh 1.5vw;
	cursor: pointer;
}

#nav-links {
	list-style: none;
}

#nav-links li {
	display: inline-flex;
	align-items: center;
	padding: 0 25px;
	transition: all 0.3s ease 0s;
	height: 5vh;
}

#nav-links li:hover {
	background-color: #333;
	cursor: pointer;
}

#nav-links li span {
	text-decoration: none;
	color: white;
	font-size: 140%;
}

#search_icon {
	width: inherit;
	height: inherit;
	padding: 0.8vh 1.5vw 0.8vh 0;
	filter: invert(1);
	cursor: pointer;
}
